language: go

go:
  - 1.x

services:
  - docker

jobs:
  include:
    - stage: lint
      before_install:
        - curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.24.0
      script: make lint
    - stage: test
      script: make test
    - stage: build
      script: make build
    - stage: deploy-integration
      before_script:
        # Download and install kubectl
        - curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl && chmod +x kubectl && sudo mv kubectl /usr/local/bin/
        
        # Download and install KinD
        - GO111MODULE=on go get sigs.k8s.io/kind
        # It's possible to download and install KinD using curl, similar as for kubectl
        # This is useful in cases when Go toolchain isn't available or you prefer running stable version
        # Binaries for KinD are available on GitHub Releases: https://github.com/kubernetes-sigs/kind/releases
        # - curl -Lo kind https://github.com/kubernetes-sigs/kind/releases/download/0.0.1/kind-linux-amd64 && chmod +x kind && sudo mv kind /usr/local/bin/
        
        # Create a new Kubernetes cluster using KinD
        - kind create cluster --name=testcluster

        # Set kind context to kubectl
        - kubectl cluster-info --context kind-testcluster
      script: 
        - kubectl get nodes && kubectl get pods --all-namespaces -o wide
        - make build-image
        - kind load docker-image cloudaudition:test
        - docker exec -it testcluster-control-plane crictl images
